{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2>Welcome to the Quoting Portal.</h2>
    <h5>Looking for the value of a stock? Fill the form below.</h5>
    <p>Make sure to enter a valid stock symbol.</p>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Look Up</button>
    </form>
{% endblock %}
